body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0
}

a {
  text-decoration: none;
  color: black;
}

.App {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form input {
  width: 300px;
  height: 50px;
  margin: 15px;
  font-size: 20px;
}

.user {
  width: 400px;
  height: 120px;
  margin: 20px;
  border-radius: 10px;
  border: 3px solid
}


.imagePage {
  width: 300px
}

.category {
  border: 5px solid green;
  border-radius: 10px;
  width: 500px;
  padding: 20px;
  text-align: center;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

.productCategory {
  margin-top: 2px;
}

.removeSubcat {
  cursor: pointer;
  color: red;
}

.subcategoriesFilters {
  position: relative;
  left: 20px;
}


.iconIcon {
  display: inline-block;
  width: 19px;
  background-color: black;
  text-align: center;
  color: white;
  margin-left: 5px;
}



.quantityButton {
  box-shadow: 0px 0px 5px black;
  font-weight: 500;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: larger;
  user-select: none;
  display: inline-block;
  cursor: pointer;
}
.quantityValue {
  text-align: center;
  height: 20px;
  width: 20px;
  margin: 5px;
  display: inline-block;
}